header {
  position: relative;
  padding-bottom: 50px; /* Dodane, aby zarezerwować miejsce pod przyciski */
  font-size: 20px;
}

.header-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.header-buttons form {
  display: inline-block;
}

.header-buttons form:not(:last-child) {
  margin-right: 10px; /* Dodane odstępy między przyciskami */
}


.menuButton {
  padding: 10px 15px;
  background-color: #3498db; /* Kolor tła przycisku */
  color: #fff; /* Kolor tekstu przycisku */
  text-decoration: none;
  border-radius: 5px; /* Zaokrąglenie rogów */
  float: right; /* Umieść przycisk w prawym dolnym rogu */
  margin: 10px; /* Dodaj odstęp od innych elementów w headerze */
  cursor: pointer;
}

.ButtonPizza {
  padding: 10px 15px;
  background-color: #3498db; /* Kolor tła przycisku */
  color: #fff; /* Kolor tekstu przycisku */
  text-decoration: none;
  border-radius: 5px; /* Zaokrąglenie rogów */
  float: right; /* Umieść przycisk w prawym dolnym rogu */
  margin: 10px; /* Dodaj odstęp od innych elementów w headerze */
  cursor: pointer;
}


nav {
  float: left;
  width: 15%;
  height: 100vw;
  background: rgb(255, 254, 254);
  padding: 20px;
  color:rgb(0, 0, 0);
  border-right: 8px solid black;
  font-size: 15px;
  margin-top: 220px;
  position: fixed;
  top: 0;
  left: 0;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  margin-bottom: 5px;
}

article {
  float: right;
  padding: 20px;
  width: 85%;
  background-color: #ffffff;
  height: 100%;
}


.menu-buttons {
  text-align: center;
}

.menu-buttons a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-buttons .separator {
  margin: 0 10px;
  color: #999;
}


